
.logo {
    width: 50px;
}

#sidebar {
    position: fixed;
    top: 100px;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #444444;
}

.main-content {
    margin-left: 200px;
    background-color: #746f6f;
}

.nav {
    background-color: rgb(145, 145, 145);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
}

.flex-item {
    padding: 5px;
}

.flex-item2 {
    justify-content: flex-end;
}

ul {
    list-style: none;
}

.title {
    font-size: 2em;
    padding: 0px;
}

.subtitle {
    font-size: .5em;
    padding: 0px;
}

