

/* not working */
.logo {
    width: 50px;
}

#sidebar {
    width: 244px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-item {
    padding: 10px;

}

ul {
    list-style: none;
}

.title {
    font-size: 2em;
    padding: 0px;
}

.subtitle {
    font-size: .5em;
    padding: 0px;
}

